* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

input {
  outline: none;
  padding: 4px 6px;
  border: #000 1px solid;
}

input:focus {
  border: #ff00ff 1px solid;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  padding: 16px;
}

button {
  padding: 8px 12px;
  outline: none;
  background: #ff00ff;
  border: none;
  cursor: pointer;
}
